
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

.Parents{
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: rgb(42, 41, 41);

}
